<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/styles.css">
  <script src="/scripts/difficulty.js" defer></script>
</head>

<body>
<div></div>

<h2 style="align-items: center">Select Difficulty</h2>
<div class="difficulty-buttons">
  
  <button class="e-btn" onclick="selectDifficulty('Easy')">Easy</button>
  <button class="m-btn" onclick="selectDifficulty('Medium')">Medium</button>
  <button class="h-btn" onclick="selectDifficulty('Hard')">Hard</button>
</div>
<div class="diff-wrapper"></div>


</body>
</html>