<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/styles.css">
  <script src="/scripts/difficulty.js" defer></script>
</head>

<body>
<h2>Select Difficulty</h2>
<div class="difficulty-buttons">
  <button onclick="selectDifficulty('Easy')">Easy</button>
  <button onclick="selectDifficulty('Medium')">Medium</button>
  <button onclick="selectDifficulty('Hard')">Hard</button>
</div>


</body>
</html>