<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>hell yeah</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="center-grid">
      <div class="login-box">
        Login
      </div>
    </div>
  </body>
</html>