<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
  </head>


  <body>
    <div class="sl-background"></div>
    <div class="loginForm">
      <h2 class="slHeader" style="color: white;">
        Login
      </h2>
      <form method="POST" action="/login">
        <input class="inputbox" type="text" name="username" placeholder="Username" required /><br />
        <input class="inputbox" type="password" name="password" placeholder="Password" required /><br />
        <div class="btn-wrapper">
          <button class="slbtn" type="submit">Login</button>
          <a href="/signup">
          <button type="button" class="slbtn" style="margin-left: 100px">Sign Up</button>
          </a>
          
        </div>
      </form>

      

    </div>
  </body>
</html>