<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <script src="/js/signup.js" defer></script>
</head>
<body>
  <div>
    <input type="text" id="username" placeholder="Username" required>
  </div>
  <div>
    <input type="password" id="password" placeholder="Password" required>
  </div>
  <div>
    <input type="password" id="confirmPassword" placeholder="Confirm Password" required>
  </div>
  <button id="submitBtn">Sign Up</button>
</body>
</html>
